.App {
  width: 60vw;
  top: 100px;
  margin-left: 25%;

}
.App-header {
  width: 80%;
  padding: 15px;
  border: 1px solid #ccc;
  margin-right: 10%;
}
.text-bold {
  font-weight: bold;
}

.text-align-right {
  position: static;
  text-align: right;
}
